.highlight-box-right, .blog-sidecar-right
{
    float: right;
    width: 40%;
    background: #efefef;
    padding: 20px;
    margin: 20px 0 20px 20px;
}
.highlight-box-left
{
    float: left;
    width: 40%;
    background: #efefef;
    padding: 20px;
    margin: 20px 20px 20px 0;
}
.highlight-box-full
{
    /*background: #efefef;*/
    padding: 20px;
    margin: 16px 20px 20px 20px;
    border: 4px double #00529b;
}
.casestudy
{
    margin: 20px 0px 20px 40px;
    padding: 20px;
    border-top: 1px solid #0B4F97;
    background: #efefef;
    color: #0b4f97;
    font-size: 14px;
    line-height: 30px;
}
.call-to-action
{
    background: #efefef;
    padding: 20px;
}
.footnote
{
    font-size: 0.8em;
    color: #6a6a6a;
}
.image-credit
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 1.2rem;
    color: #6a6a6a;
    margin-top: 30px;
}
.list-dash li {
    list-style-type: none!important;
}
.list-dash > li:before {
    content: "-"; /* en dash */
    position: absolute;
    margin-left: -1.1em;
}
